html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: white;

    background-color: white;
}

.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

                                /*ШАПКА*/
.main-header {
    padding-bottom: 60px;

    background-color: #f4f7f9;
}

.top-header {
    line-height: 18px;
    color: white;

    background-color: #293449;
}

.top-header-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.top-header-wrapper a {
    vertical-align: middle;
}

.logo {
    position: relative;

    width: 220px;
    height: 47px;

    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.logo-technomart {
    content: "";

    position: absolute;
    top: 14px;
    left: 55px;

    width: 110px;
    height: 18px;

    background-image: url("../img/logo-technomart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

input[type="search"] {
    display: block;
    width: 270px;
    height: 100%;
    padding: 12px 0 12px 49px;

    background-color: #293449;
    border: none;
}

input[type="search"]:hover {
    background-color: #212a3a;
}

input[type="search"]:focus {
    background-color: white;
}

input[type="search"]::-webkit-input-placeholder {color: white;}
input[type="search"]::-moz-placeholder          {color: white;}/* Firefox 19+ */
input[type="search"]:-ms-input-placeholder      {color: white;}

.search-form button {
    padding: 0;
}

.bookmarks {
    position: relative;

    padding: 12px 0px 12px 44px;
    width: 150px;
}

.bookmarks::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.basket {
    position: relative;

    padding: 12px 0px 12px 50px;
    width: 150px;
}

.basket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 18px;

    width: 15px;
    height: 15px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}
/*ПРИ НАВЕДЕНИИ БЕЛЫЙ ЦВЕТ*/
.bookmarks:hover::before,
.basket:hover::before {
    fill: white;
}

.bookmarks:active::before,
.basket:active::before {
    opacity: 0.5;
}

.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
}

.order-registration:hover {
    background-color: #5fbb2d;
}

.order-registration:active {
    background-color: #518534;
}

.order-registration {
    padding: 12px 0px 12px 20px;
    width: 150px;

    color: white;

    background-color: #63a63e;
}

.middle-header {
    padding-bottom: 40px;
}

.middle-header-wrapper {
    display: flex;
    padding-top: 47px;
}

.middle-header h1 {
    margin: 0;
    padding-left: 53px;
    padding-right: 71px;

    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    
    color: #ee3643;
}

.phone-number {
    display: block;
    width: 270px;

    position: relative;

    padding: 12px 0px 12px 74px;

    font-size: 21px;
    line-height: 21px;

    border: 3px solid white;

    color: #ee3643;
}

.phone-number::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 15px;

    width: 19px;
    height: 19px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.address {
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;


    font-size: 14px;
    line-height: 24px;

    color: #32425c;
}

.enter-registration-list {
    display: flex;
    align-items: flex-start;

    margin-left: 69px;
}

.login-link,
.reg-link {
    font-size: 21px;
    line-height: 21px;

    color: black;

    background-color: white;
}

.login-link {
    position: relative;

    padding: 14px 27px 14px 48px;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 14px;

    width: 20px;
    height: 17px;

    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.reg-link {
    margin-left: 10px;
    padding: 14px 25px;
}

.login-link:hover,
.reg-link:hover {
    color: #ee3643;
}

.login-link:active,
.reg-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.top-header a,
.main-nav a {
    color: white;
}

.main-nav {
    color: white;

    background-color: #32425c;
}

.main-nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav a {
    display: block;
    padding: 22px 31px;
}

.main-nav a:hover {
    background-color: #293449;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.5); 

    background-color: #1d2739;
}

                        /*ОСНОВНОЕ СОДЕРЖАНИЕ ГЛАВНОЙ СТРАНИЦЫ*/
.company-and-contacts {
    display: flex;

    padding-top: 82px;
    padding-bottom: 86px; 

    color: black;
}

.company-technomart {
    width: 540px;
}

.company-technomart h2,
.contacts h2 {
    margin: 0;
    margin-bottom: 35px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}                         

.company-technomart p,
.contacts p {
    margin: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.man-shop {
    padding-bottom: 30px;
}

.company-technomart-list {
    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 6px;

    list-style: none;
}

.company-technomart-item {
    padding-left: 36px;
    padding-bottom: 22px;

    font-size: 18px;
    line-height: 20px;
}

.contacts {
    width: 300px;
    margin-left: 100px;
    padding-bottom: 0;
}

.contacts p {
    padding-bottom: 30px;
}

.contacts img {
    width: 300px;
    height: 158px;
}

.button {
    display: inline-block;
    padding: 10px 37px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    color: white;

    background-color: #ee3643;
}

.button-contacts {
    width: 100%;
    margin-top: 37px;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;

}
                                /*ПОДВАЛ*/                               
 /*TOP-ROW*/                                           
.top-row {
    font-size: 18px;
    line-height: 24px;

    color: #f3f7f9;

    background-color: #32425c;
}

.top-row-wrapper {
    display: flex;
}

.logo-footer {
    position: relative;

    width: 220px;
    height: 67px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.logo-techn-footer {
    content: "";

    position: absolute;
    top: 20px;
    left: 40px;

    width: 142px;
    height: 24px;

    background-image: url("../img/logo-technomart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-nav-list a{
    color: #f3f7f9;;

    background-color: #32425c;
}

.footer-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 39px;
    padding-left: 170px;

    list-style: none;
}

.footer-nav-list a:hover,
.footer-menu a:hover {
    text-decoration: underline;
}

.footer-nav-list a:active {
    color: rgba(241, 245, 247, 0.5);

    text-decoration: none;
}

.footer-nav-list a {
    display: inline-block;
    padding-right: 60px;
}

/*MIDDLE-ROW*/
.middle-row {
    padding-bottom: 50px;

    font-size: 18px;
    line-height: 24px;

    color: #f3f7f9;

    background-color: #32425c;
}

.middle-row-wrapper {
    display: flex;
}

.footer-address {
    margin: o;
}

.footer-menu a {
    color: #ffd180;

    background-color: #32425c;
}

.footer-menu {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-menu a:active {
    color: rgba(255, 209, 128, 0.5);

    text-decoration: none;
}

 /*BOTTOM-ROW*/
.bottom-row {
    padding-top: 40px;
    padding-bottom: 35px; 

    font-size: 16px;
    line-height: 18px;

    color: white;

    background-color: #293449;
}

.bottom-row-wrapper {
    display: flex;
}

.bottom-row-wrapper p {
    margin: 0;
}

.copyright {
    padding-right: 160px;
}

.social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 132px;

    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;

    border-radius: 50%;
    background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
}

.email,
.academy {
    color: #ffd180;

    background-color: #293449;
}

.email:hover,
.academy:hover {
    text-decoration: underline;
}

.email:active,
.academy:active {
    color: #ee3643;

    text-decoration: none;
}

                        /*ПОПАПЫ*/
.write-letter {
    display: none;
}

.map-popap {
    display: none;
}
                                /*ВНУТРЕННЯЯ СТРАНИЦА*/
                /*ШАПКА*/            

.full-basket {
    position: relative;

    padding: 12px 0px 12px 50px;
    width: 150px;

    color: white;

    background-color: #ee3643;
}

.full-basket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 18px;

    width: 15px;
    height: 15px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.user-zone {
    margin-left: 51px;
}

.current-account {
    display: block;
    padding: 14px 0px 14px 47px;
    width: 299px;
    margin-bottom: 10px;

    position: relative;

    font-size: 21px;
    line-height: 21px;

    color: black;

    background-color: white;
}

.current-account::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 18px;

    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.current-account::after {
    content: "";

    position: absolute;
    top: 16px;
    left: 269px;

    width: 20px;
    height: 17px;

    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.current-account:active {
    color: rgba(0, 0, 0, 0.3);
}

.my-orders-zone {
    position: relative;

    padding-left: 17px;
    padding-right: 34px;
}

.my-orders-zone::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 108px;

    width: 4px;
    height: 5px;

    background-color: #32425c;
    border-radius: 50%;
}

.my-orders-zone,
.account-zone {
    font-size: 16px;
    line-height: 18px;

    color: #32425c;

    text-decoration: underline;
}

.my-orders-zone:hover,
.account-zone:hover {
    color: #ee3643;
}

.my-orders-zone:active,
.account-zone:active,
.current-account a:active {
    color: rgba(0, 0, 0, 0.3);
}

                        /*ОСНОВНОЕ СОДЕРЖАНИЕ ВНУТРЕННЕЙ СТРАНИЦЫ*/

.main-content-inner {
    padding-top: 20px;
}

.crumbs {
    padding-bottom: 20px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs-item a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    color: black;
}

.main-title {
    margin: 0;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;

    color: #32425c;

    background-color: #f2f6f8;
}

fieldset {
    border: none;
}

fieldset ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

legend {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;

    color: black;
}

fieldset li {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;

    color: black;
}

.filter button {
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    color: black;

    background-color: white;
    border: 1px solid #e5e5e5;
}

.filters-and-catalog {
    display: flex;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item p,
.catalog-item h3 {
    margin: 0;
}

.catalog-item {
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item-title {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: black;
}

.catalog-item-price {
    text-align: center;
}

.catalog-item-old-price {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    color: #999999;
}

.catalog-item-new-price {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    color: white;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.buy-hidden {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: white;

    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
}

.buy-hidden:hover {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.buy-hidden:active {
    background-color: #518534;
}

.bookmarks-hidden {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #32425c;

    background-color: white;
    border: 3px solid #63a63e;
}

.bookmarks-hidden:hover {
    border: 3px solid #32425c;
}

.bookmarks-hidden:active {
    color: rgba(50, 66, 92, 0.3);

    border: 3px solid rgba(50, 66, 92, 0.3);
}

                       /*ПОПАПЫ*/
.item-status {
    display: none;
}                   