html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: white;

    background-color: white;
}

.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

                                /*ШАПКА*/
.main-header {
    padding-bottom: 60px;

    background-color: #f4f7f9;
}

.top-header {
    line-height: 18px;
    color: white;

    background-color: #293449;
}

.top-header-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.top-header-wrapper a {
    vertical-align: middle;
}

.logo {
    position: relative;

    width: 220px;
    height: 47px;

    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.logo-technomart {
    content: "";

    position: absolute;
    top: 14px;
    left: 55px;

    width: 110px;
    height: 18px;

    background-image: url("../img/logo-technomart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.search-form {
    display: flex;
    flex-direction: row-reverse;
    width: 270px;
}

.search-form:hover {
    background-color: #212a3a;
}

input[type="search"] {
    display: block;
    width: 100%;
    height: 100%;

    border: none;
    background-color: #293449;
}

input[type="search"]:hover {
    background-color: #212a3a;
}

input[type="search"]:hover + button svg {
    fill: white;
    opacity: 1;
}

input[type="search"]:focus {
    background-color: white;
}

input[type="search"]:focus + button {
    background-color: white;
}

input[type="search"]:focus + button svg{
    fill: #ee3643;
    opacity: 1;
}

input[type="search"]::-webkit-input-placeholder {color: white;}
input[type="search"]::-moz-placeholder          {color: white;}/* Firefox 19+ */
input[type="search"]:-ms-input-placeholder      {color: white;}

.search-form button {
    padding: 0;
    padding-left: 17px;
    padding-right: 15px;
    padding-top: 2px;

    background-color: transparent;
    border: none;
}

.search-button svg {
    fill: white;
    opacity: 0.3;
}

.bookmarks {
    position: relative;

    padding: 12px 0px 12px 44px;
    width: 150px;
}

.bookmarks::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.basket {
    position: relative;

    padding: 12px 0px 12px 50px;
    width: 150px;
}

.basket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 18px;

    width: 15px;
    height: 15px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.bookmarks:active::before,
.basket:active::before {
    opacity: 0.5;
}

.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
}

.order-registration:hover {
    background-color: #5fbb2d;
}

.order-registration:active {
    background-color: #518534;
}

.order-registration {
    padding: 12px 0px 12px 20px;
    width: 150px;

    color: white;

    background-color: #63a63e;
}

.middle-header {
    padding-bottom: 40px;
}

.middle-header-wrapper {
    display: flex;
    padding-top: 47px;
}

.middle-header h1 {
    margin: 0;
    padding-left: 53px;
    padding-right: 71px;

    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    
    color: #ee3643;
}

.phone-number {
    display: block;
    width: 270px;

    position: relative;

    padding: 12px 0px 12px 74px;

    font-size: 21px;
    line-height: 21px;

    border: 3px solid white;

    color: #ee3643;
}

.phone-number::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 15px;

    width: 19px;
    height: 19px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.address {
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;


    font-size: 14px;
    line-height: 24px;

    color: #32425c;
}

.enter-registration-list {
    display: flex;
    align-items: flex-start;

    margin-left: 69px;
}

.login-link,
.reg-link {
    font-size: 21px;
    line-height: 21px;

    color: black;

    background-color: white;
}

.login-link {
    position: relative;

    padding: 14px 27px 14px 48px;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 14px;

    width: 20px;
    height: 17px;

    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.reg-link {
    margin-left: 10px;
    padding: 14px 25px;
}

.login-link:hover,
.reg-link:hover {
    color: #ee3643;
}

.login-link:active,
.reg-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.top-header a,
.main-nav a {
    color: white;
}

.main-nav {
    color: white;

    background-color: #32425c;
}

.main-nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-nav a {
    display: block;
    padding: 22px 31px;
}

.main-nav a:hover {
    background-color: #293449;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.5); 

    background-color: #1d2739;
}

                        /*ОСНОВНОЕ СОДЕРЖАНИЕ ГЛАВНОЙ СТРАНИЦЫ*/

.slides {
    padding-top: 59px;
    padding-bottom: 53px;
}

.slides-top {
    display: flex;
}

.slides ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slides p {
    margin: 0;
}

.slides-top li,
.slides-bottom li {
    position: relative;

    width: 300px;
    height: 123px;
}

.slides-top li {
    margin-right: 20px;
}

.slides-top li:last-child {
    margin-right: 0;
}

.slides-top li:nth-child(1) {
    background-color: #ffbf47;
}

.slides-top li:nth-child(2) {
    background-color: #3bbce3;;
}

.slides-top li:nth-child(3) {
    background-color: #dc91d8;;
}

.slides-top a,
.slides-bottom a {
    display: block;
    width: 135px;
    height: 38px;
    padding-top: 10px;
    margin-left: 25px;

    text-align: center;

    border-radius: 3px;
}

.materials a {
    background-color: #e5ac40;
}

.instrument a {
    background-color: #35a9cc;
}

.technique a {
    background-color: #c682c2;
}

.slides-top p,
.slides-bottom p {
    padding-top: 23px;
    padding-bottom: 12px;
    padding-left: 23px;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.slides-top a,
.slides-bottom a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: inherit;
}

.materials::before {
    content: "";

    position: absolute;
    top: 31px;
    left: 213px;

    width: 44px;
    height: 65px;

    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.instrument::before {
    content: "";

    position: absolute;
    top: 33px;
    left: 197px;

    width: 75px;
    height: 61px;

    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.technique::before {
    content: "";

    position: absolute;
    top: 31px;
    left: 191px;

    width: 78px;
    height: 62px;

    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.drills-and-slides {
    display: flex;
    padding-top: 20px;
}

.sliders {
    position: relative;

    width: 620px;
    height: 266px;
    margin-right: 20px;
}

.drills-title {
    padding-top: 27px;
    padding-left: 24px;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.drills-fun {
    padding-top: 5px;
    padding-left: 25px;

    font-size: 18px;
    line-height: 24px;
}

.sliders a {
    margin-top: 120px;
    margin-left: 25px;
    padding-right: 48px;
    padding-left: 48px;
}

.sliders a:hover {
    background-color: #ca2c37;
}

.sliders a:active {
    background-color: #ba2732;;
}

.sliders::before {
    content: "";

    position: absolute;
    top: 114px;
    left: 25px;

    width: 22px;
    height: 40px;

    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sliders::after {
    content: "";

    position: absolute;
    top: 114px;
    left: 578px;

    width: 22px;
    height: 40px;

    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-controls {
    position: absolute;
    top: 215px;
    left: 310px;
    z-index: 100;
    
    width: 46px;
    height: 20px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls i {
    position: relative;
    
    display: inline-block;
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls i::after {
    content: "";
    
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    
    width: 10px;
    height: 10px;
    
    background-color: #ffffff;
    border-radius: 50%;
}

.slider-controls .active-slider-control::before {
    content: "";
    
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    
    width: 6px;
    height: 6px;
    margin: -3px;
    
    background-color: #ee3643;
    border-radius: 50%;
}

.sliders-list {
    margin: 0;
    padding: 0;
  
    list-style: none;
}

.slider-item {
    display: none;
    padding-bottom: 17px;
}
  
.slider-item:nth-child(1) {
    display: block;

    background-image: url("../img/drills.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider-item:nth-child(2) {
    background-image: url("../img/perforators.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sale {
    margin-bottom: 20px;

    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
}

.sale a {
    background-color: #80c180;
}

.delivery a {
    background-color: #e5ac40;
}

.sale::before {
    content: "";

    position: absolute;
    top: 26px;
    left: 196px;

    width: 59px;
    height: 72px;

    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.delivery::before {
    content: "";

    position: absolute;
    top: 32px;
    left: 191px;

    width: 78px;
    height: 63px;

    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.goods-and-button,
.manufacturers-and-button {
    display: flex;
    margin-bottom: 20px;
    padding: 25px 24px 25px 30px;

    background-color: #f9f5f0;
}

.goods-and-button h2,
.manufacturers-and-button h2 {
    margin: 0;
    margin-top: 6px;

    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-transform: uppercase;

    color: #32425c;
}

.goods-and-button a,
.manufacturers-and-button a {
    margin-left: auto;

    min-width: 253px;
}

.catalog-list-main li:nth-child(3) {
    margin-right: 20px;
}

.catalog-list-main li:nth-child(4) {
    margin-right: 0;
}

.popular-manufacturers {
    padding-bottom: 65px;
}

.manufacturers {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.manufacturers li {
    margin-right: 20px;
    margin-bottom: 20px;
}

.manufacturers li:nth-child(4n) {
    margin-right: 0;
}

.manufacturers a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 145px;
    
    border: 1px solid #eaeaea;
}

.manufacturers a:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers a:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.blue {
    color: black;

    background-color: #f4f7f9;
}

.services {
    padding-top: 68px;
    padding-bottom: 70px;
}

.general > div {
    display: flex;
    padding-bottom: 102px;
}

.general ul {
    position: relative;

    margin: 0;
    margin-right: 80px;
    padding: 0;

    list-style: none;
}

.general h3 {
    margin: 0;
    padding-bottom: 25px;

    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    text-transform: uppercase;

    color: #32425c;
}

.delivery-general {
    position: relative;
}

.delivery-general::before {
    content: "";

    position: absolute;
    top: 23px;
    left: 471px;

    width: 468px;
    height: 261px;

    background-image: url("../img/delivery.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.guarantee-general {
    position: relative;
}

.guarantee-general::before {
    content: "";

    position: absolute;
    left: 559px;

    width: 389px;
    height: 283px;

    background-image: url("../img/guarantee.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.credit-general {
    position: relative;
}

.credit-general::before {
    content: "";

    position: absolute;
    left: 485px;

    width: 465px;
    height: 285px;

    background-image: url("../img/credit.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.credit-general p {
    padding-bottom: 23px;
}

.delivery-navigation::before,
.guarantee-navigation::before,
.credit-navigation::before {
    content: "";

    position: absolute;
    top: -46px;
    left: 232px;
    
    width: 10px;
    height: 279px;

    background-image: url("../img/shadow.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.delivery-navigation a,
.guarantee-navigation a,
.credit-navigation a {
    display: block;
    padding: 15px 140px 15px 22px;

    font-size: 21px;
    font-weight: bold;
    line-height: 30px;

    color: white;

    background-color: #32425c;
    border: 1px solid #2b364a;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.delivery-navigation a:hover:not(.active-general),
.guarantee-navigation a:hover:not(.active-general),
.credit-navigation a:hover:not(.active-general) {
    background-color: #293449;
}

.delivery-navigation .active-general,
.guarantee-navigation .active-general,
.credit-navigation .active-general {
    color: #32425c;

    background-color: white;
    border: none;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.delivery-description {
    width: 275px;
}

.guarantee-description {
    width: 379px;
}

.credit-description {
    width: 279px;
}

.credit-description .button-credit {
    padding-right: 45px;
    padding-left: 45px;
}

.company-and-contacts {
    display: flex;

    padding-top: 82px;
    padding-bottom: 86px; 

    color: black;
}

.company-technomart {
    width: 540px;
}

.company-technomart h3,
.contacts h3,
.services h3 {
    margin: 0;
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}                         

.company-technomart p,
.contacts p,
.services p,
.general p {
    margin: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.man-shop {
    padding-bottom: 30px;
}

.company-technomart-list {
    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 6px;

    list-style: none;
}

.company-technomart-item {
    position: relative;

    padding-left: 36px;
    padding-bottom: 22px;

    font-size: 18px;
    line-height: 20px;
}

.company-technomart-item::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 0px;

    width: 25px;
    height: 2px;

    background-color: #ee3643;
}

.contacts {
    width: 300px;
    margin-left: 100px;
    padding-bottom: 0;
}

.contacts p {
    padding-bottom: 30px;
}

.contacts img {
    width: 300px;
    height: 158px;
}

.button {
    display: inline-block;
    padding: 10px 38px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    color: white;

    background-color: #ee3643;
    border-radius: 3px;
}

.button-contacts {
    width: 100%;
    margin-top: 37px;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;

}
                                /*ПОДВАЛ*/                               
 /*TOP-ROW*/                                           
.top-row {
    font-size: 18px;
    line-height: 24px;

    color: #f3f7f9;

    background-color: #32425c;
}

.top-row-wrapper {
    display: flex;
}

.logo-footer {
    position: relative;

    width: 220px;
    height: 67px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.logo-techn-footer {
    content: "";

    position: absolute;
    top: 20px;
    left: 40px;

    width: 142px;
    height: 24px;

    background-image: url("../img/logo-technomart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-nav-list a{
    color: #f3f7f9;;

    background-color: #32425c;
}

.footer-nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 39px;
    margin-left: auto;

    list-style: none;
}

.footer-nav-list li {
    margin-right: 60px;
}

.footer-nav-list li:last-child {
    margin: 0;
}

.footer-nav-list a:hover,
.footer-menu a:hover {
    text-decoration: underline;
}

.footer-nav-list a:active {
    color: rgba(241, 245, 247, 0.5);

    text-decoration: none;
}

/*MIDDLE-ROW*/
.middle-row {
    padding-top: 30px;
    padding-bottom: 49px;

    font-size: 18px;
    line-height: 24px;

    color: #f3f7f9;

    background-color: #32425c;
}

.middle-row-wrapper {
    display: flex;
}

.footer-address {
    margin: 0;
}

.footer-menu a {
    color: #ffd180;

    background-color: #32425c;
}

.footer-menu {
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;

    list-style: none;
}

.footer-menu li {
    margin-right: 60px;
}

.footer-menu li:last-child {
    margin: 0;
}

.footer-menu a:active {
    color: rgba(255, 209, 128, 0.5);

    text-decoration: none;
}

 /*BOTTOM-ROW*/
.bottom-row {
    padding-top: 36px;
    padding-bottom: 36px; 

    font-size: 16px;
    line-height: 18px;

    color: white;

    background-color: #293449;
}

.bottom-row-wrapper {
    display: flex;
}

.bottom-row-wrapper p {
    margin: 0;
}

.copyright {
    padding-right: 160px;
}

.social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 132px;

    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;

    border-radius: 50%;
    background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
}

.feedback {
    padding-left: 118px;
    padding-right: 50px;
}

.email,
.academy {
    color: #ffd180;

    background-color: #293449;
}

.email:hover,
.academy:hover {
    text-decoration: underline;
}

.email:active,
.academy:active {
    color: #ee3643;

    text-decoration: none;
}

                        /*ПОПАПЫ*/
.write-letter {
    display: none;
}

.map-popap {
    display: none;
}
                                /*ВНУТРЕННЯЯ СТРАНИЦА*/
                /*ШАПКА*/            

.full-basket {
    position: relative;

    padding: 12px 0px 12px 50px;
    width: 150px;

    color: white;

    background-color: #ee3643;
}

.full-basket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 18px;

    width: 15px;
    height: 15px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.user-zone {
    margin-left: 51px;
}

.current-account {
    display: block;
    padding: 14px 0px 14px 47px;
    width: 299px;
    margin-bottom: 10px;

    position: relative;

    font-size: 21px;
    line-height: 21px;

    color: black;

    background-color: white;
}

.current-account::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 18px;

    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.current-account::after {
    content: "";

    position: absolute;
    top: 16px;
    left: 269px;

    width: 20px;
    height: 17px;

    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.current-account:active {
    color: rgba(0, 0, 0, 0.3);
}

.my-orders-zone {
    position: relative;

    padding-left: 17px;
    padding-right: 34px;
}

.my-orders-zone::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 108px;

    width: 4px;
    height: 5px;

    background-color: #32425c;
    border-radius: 50%;
}

.my-orders-zone,
.account-zone {
    font-size: 16px;
    line-height: 18px;

    color: #32425c;

    text-decoration: underline;
}

.my-orders-zone:hover,
.account-zone:hover {
    color: #ee3643;
}

.my-orders-zone:active,
.account-zone:active,
.current-account a:active {
    color: rgba(0, 0, 0, 0.3);
}

                        /*ОСНОВНОЕ СОДЕРЖАНИЕ ВНУТРЕННЕЙ СТРАНИЦЫ*/

.main-content-inner {
    padding-top: 23px;
}

.crumbs {
    padding-bottom: 24px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.breadcrumbs li {
    position: relative;

    margin-right: 43px;
}

.arrow::before {
    content: "";

    position: absolute;
    top: 3px;
    left: -24px;

    width: 8px;
    height: 12px;

    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    color: black;
}

.main-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 32px 0 32px 30px;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;

    color: #32425c;

    background-color: #f2f6f8;
}

.filter-and-sort {
    display: flex;
    padding-bottom: 20px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    color: black;
}

.filter-and-sort p {
    margin: 0;
}

.filter-top,
.sort {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #f7f3ec;
}

.filter-top {
    margin-right: 20px;
    padding-left: 18px;
    padding-right: 149px; 
}

.sort p {
    padding-left: 18px;
    padding-right: 139px;
}

.sort {
    display: flex;
    width: 100%;
}

.sort-list {
    position: relative;

    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-list::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 400px;

    width: 11px;
    height: 10px;

    background-image: url("../img/icon-up-dir.svg");
}

.sort-list::after {
    content: "";

    position: absolute;
    top: 4px;
    left: 432px;

    width: 11px;
    height: 10px;

    background-image: url("../img/icon-down-dir.svg");
}

.sort-list li:nth-child(1) {
    padding-right: 71px;
}

.sort-list li:nth-child(2) {
    padding-right: 65px;
}

.sort-list a {
    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #ee3643;
}

.sort-list a:hover {
    color: black;

    border-bottom: 1px solid #ee3643;
}

.sort-list .active-sort {
    color: #ee3643;

    border-bottom: none;
}

.filters-and-catalog {
    display: flex;
}

.filters-for-products {
    width: 220px;
    margin-right: 20px;
}

.filter {
    width: inherit;
}

fieldset {
    margin: 0;
    margin-top: 18px;
    padding: 0;
    padding-bottom: 21px;

    border: none;
    border-bottom: 1px solid #e5e5e5;
}

fieldset:nth-child(1) {
    margin-top: 0;
    padding-bottom: 25px;
}

fieldset:nth-child(3) {
    padding-bottom: 75px;

    border: none;
}

legend {
    padding-bottom: 14px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;

    color: black;
}

fieldset ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

fieldset li {
    padding-bottom: 17px;
    padding-left: 35px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;

    color: black;
}

fieldset li:last-child {
    padding-bottom: 0;
}

.range-controls {
    margin-bottom: 9px;
    padding: 39px 20px;

    background-color: #f7f3ec;
}

.range-controls .scale {
    width: 180px;
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {
    position: relative;

    width: 152px;
    height: 2px;
  
    background: #00ca74;
}

.range-controls .bar::before {
    content: "";

    position: absolute;
    top: -10px;

    width: 20px;
    height: 22px;

    background-image: url("../img/filter-button.svg");
    cursor: pointer;
}

.range-controls .bar::after {
    content: "";

    position: absolute;
    top: -10px;
    left: 140px;

    width: 20px;
    height: 22px;

    background-image: url("../img/filter-button.svg");
    cursor: pointer;
}

.price-controls {
    position: relative;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 105px;

    width: 10px;
    height: 1px;

    background-color: #444444;
}

.price-controls input {
    width: 95px;
    height: 38px;

    font-family: 'PT Sans', Arial, sans-serif;
    text-align: center;

    background-color: #f7f3ec;
    border: none;
}

.price-controls input:nth-child(1) {
    margin-right: 25px;
}

input[type="checkbox"] {
    display: none;
}

.filter label {
    position: relative;
}

.filter-checkbox::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -35px;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.checkbox-choose::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -35px;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

input[type="radio"] {
    display: none;
}

.radio-choose::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -35px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-radio::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -35px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter button {
    display: inline-block;
    padding: 0;
    padding: 10px 39px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    vertical-align: middle;

    color: black;

    background-color: white;
    border: 1px solid #e5e5e5;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item p,
.catalog-item h3 {
    margin: 0;
}

.catalog-item {
    position: relative;

    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    text-align: center;

    border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .hidden {
    display: block;
}

.flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    font-size: 0;
    z-index: 20;
}

.flag-new {
    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hidden {
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;
    width: 220px;
    height: 164px;
    padding: 44px 43px 37px 43px;
    
    background-color: white;
    z-index: 10;
}

.buy-hidden,
.bookmarks-hidden {
    display: block;
    width: 134px;
}

.buy-hidden {
    position: relative;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    padding: 12px 45px 12px 49px;
    margin-bottom: 8px;

    color: white;

    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
}

.buy-hidden::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 14px;

    width: 15px;
    height: 15px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.buy-hidden:hover {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.buy-hidden:active {
    background-color: #518534;
}

.bookmarks-hidden {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    padding: 10px 25px 10px 34px;

    color: #32425c;

    background-color: white;
    border: 3px solid #63a63e;
}

.bookmarks-hidden:hover {
    border: 3px solid #32425c;
}

.bookmarks-hidden:active {
    color: rgba(50, 66, 92, 0.3);

    border: 3px solid rgba(50, 66, 92, 0.3);
}

.catalog-item-image {
    width: 218px;
    height: 170px;
}

.catalog-item-image img {
    max-width: 100%;
}

.catalog-item-title {
    padding-top: 11px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    color: black;
}

.catalog-item-price {
    display: flex;
    flex-direction: column;
}

.catalog-item-old-price {
    padding-top: 15px;
    padding-bottom: 12px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    color: #999999;
}

.catalog-item-new-price,
.new-price {
    position: relative;

    width: 141px;
    padding: 12px 36px;
    margin-left: 43px;
    margin-bottom: 21px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    color: white;

    background-color: #ee3643;
    border-radius: 3px;
}

.new-price {
    margin-top: 40px;
}

.catalog-item-new-price::after,
.new-price::after {
    content: "";
  
    position: absolute;
    top: 0;
    right: -20px;
  
    width: 41px;
    height: 42px;
  
    border: 20px solid white;
    border-left-color: #ee3643;
}

                       /*ПОПАПЫ*/
.item-status {
    display: none;
}                   