body {
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: white;

    background-color: white;
}

a {
    text-decoration: none;
}
                                /*ШАПКА*/
.top-header {
    line-height: 18px;
    color: white;

    background-color: #293449;
}

.logo {
    width: 220px;
    height: 47px;

    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

input[type="search"] {
    background-color: #293449;
    border: none;
}

input[type="search"]:hover {
    background-color: #212a3a;
}

input[type="search"]:focus {
    background-color: white;
}

.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
}

.order-registration:hover {
    background-color: #5fbb2d;
}

.order-registration:active {
    background-color: #518534;
}

.order-registration {
    width: 150px;
    height: 42px;

    color: white;

    background-color: #63a63e;
}

.middle-header {
    background-color: #f4f7f9;
}

h1 {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    
    color: #ee3643;

    background-color: #f4f7f9;
}

.phone-number {
    font-size: 21px;
    line-height: 21px;

    border: 3px solid white;

    color: #ee3643;

    background-color: #f4f7f9;
}

.address {
    font-size: 14px;
    line-height: 24px;

    color: #32425c;

    background-color: #f4f7f9;
}

.enter-registration-list {
    list-style: none;
}

a.login-link,
a.reg-link {
    font-size: 21px;
    line-height: 21px;

    color: black;

    background-color: white;
}

.login-link:hover,
.reg-link:hover {
    color: #ee3643;
}

.login-link:active,
.reg-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.top-header a,
.main-nav a {
    color: white;
}

.main-nav {
    color: white;

    background-color: #32425c;
}

.main-nav-list {
    list-style: none;
}

.main-nav a:hover {
    background-color: #293449;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.5); 

    background-color: #1d2739;
}

                        /*ОСНОВНОЕ СОДЕРЖАНИЕ ГЛАВНОЙ СТРАНИЦЫ*/
.company-and-contacts {
    color: black;

    background-color: white;
}

h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
}                         

.company-technomart p,
.contacts p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.company-technomart-list li {
    font-size: 18px;
    line-height: 20px;
}

.button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: white;

    background-color: #ee3643;
}
                                /*ПОДВАЛ*/
 /*TOP-ROW*/                                           
.top-row {
    font-size: 18px;
    line-height: 24px;

    color: #f3f7f9;

    background-color: #32425c;
}

.footer-nav a{
    color: #f3f7f9;;

    background-color: #32425c;
}

.footer-nav-list {
    list-style: none;
}

.footer-nav-list a:hover,
.footer-menu a:hover {
    text-decoration: underline;
}

.footer-nav-list a:active {
    color: rgba(241, 245, 247, 0.5);

    text-decoration: none;
}

/*MIDDLE-ROW*/
.middle-row {
    font-size: 18px;
    line-height: 24px;

    color: #f3f7f9;

    background-color: #32425c;
}

.footer-menu a {
    color: #ffd180;

    background-color: #32425c;
}

.footer-menu {
    list-style: none;
}

.footer-menu a:active {
    color: rgba(255, 209, 128, 0.5);

    text-decoration: none;
}

 /*BOTTOM-ROW*/
.bottom-row {
    font-size: 16px;
    line-height: 18px;

    color: white;

    background-color: #293449;
}

.social-networks {
    list-style: none;
}

.email,
.academy {
    color: #ffd180;

    background-color: #293449;
}

.email:hover,
.academy:hover {
    text-decoration: underline;
}

.email:active,
.academy:active {
    color: #ee3643;

    text-decoration: none;
}

                        /*ПОПАПЫ*/
.write-letter {
    display: none;
}

.map-popap {
    display: none;
}
                                            /*ВНУТРЕННЯЯ СТРАНИЦА*/
                        /*ШАПКА*/            

.full-basket {
    color: white;

    background-color: #ee3643;
}

.user-zone {
    list-style: none;
}

.current-account a {
    font-size: 21px;
    line-height: 21px;

    color: black;

    background-color: white;
}

.orders-account-item a {
    font-size: 16px;
    line-height: 18px;

    color: #32425c;

    background-color: #f4f7f9;
    text-decoration: underline;
}

.orders-account-item a:hover {
    color: #ee3643;
}

.orders-account-item a:active,
.current-account a:active {
    color: rgba(0, 0, 0, 0.3);
}

                        /*ОСНОВНОЕ СОДЕРЖАНИЕ ВНУТРЕННЕЙ СТРАНИЦЫ*/
.breadcrumbs-item a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    color: black;

    background-color: white;
}

.main-title {
    font-size: 30px;
    line-height: 30px;
    text-align: left;

    color: #32425c;

    background-color: #f2f6f8;
}

fieldset {
    border: none;
}

fieldset ul {
    list-style: none;
}

legend {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;

    color: black;

    background-color: white;
}

fieldset li {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: left;

    color: black;

    background-color: white;
}

.filter button {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    color: black;

    background-color: white;
    border: 1px solid #e5e5e5;
}

.catalog-item {
    border: 1px solid #e5e5e5;
}

.catalog-item-title {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    color: black;

    background-color: white;
}

.catalog-item-old-price {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    color: #999999;

    background-color: white;
}

.catalog-item-new-price {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;

    color: white;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.buy-hidden {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: white;

    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #63a63e;
}

.buy-hidden:hover {
    box-shadow: inset 0px -3px 0 0 #367315;
    background-color: #5fbb2d;
}

.buy-hidden:active {
    background-color: #518534;
}

.bookmarks-hidden {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #32425c;

    background-color: white;
    border: 3px solid #63a63e;
}

.bookmarks-hidden:hover {
    border: 3px solid #32425c;
}

.bookmarks-hidden:active {
    color: rgba(50, 66, 92, 0.3);

    border: 3px solid rgba(50, 66, 92, 0.3);
}

                       /*ПОПАПЫ*/
.item-status {
    display: none;
}                   